@model NZWalks.UI.Models.RegionDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="mt-3">Edit Region</h1>

@if (Model is not null)
{
    <form method="post">

        <div class="mt-3">
            <label class="form-label" ></label>
            <input type="text" class="form-control" asp-for="Id" name="Code" readonly />
        </div>

        <div class="mt-3">
            <label class="form-label" asp-for="Code"></label>
            <input type="text" class="form-control" name="Code" value="@Model?.Code" />
        </div>

        <div class="mt-3">
            <label class="form-label" asp-for="Name"></label>
            <input type="text" class="form-control" name="Name" value="@Model?.Name" />
        </div>

        <div class="mt-3">
            <label class="form-label" asp-for="RegionImageUrl"></label>
            <input type="text" class="form-control" name="ImageUrl" value="@Model?.RegionImageUrl" />
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>


    </form>
}